<div class="row">
  <div class="large-12 columns">
    <h1>
      Foundation wysihtml5
      <small>Simple, beautiful wysiwyg editors</small>
    </h1>
    <hr />

    <textarea id="some-textarea" style="height: 200px;" placeholder="Enter text ...">
      <b>This is some previous text</b>
    </textarea>

    <script type="text/javascript">
      $('#some-textarea').wysihtml5({
        "size": 'tiny',
        "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true, //Italics, bold, etc. Default true
        "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
        "html": true, //Button which allows you to edit the generated HTML. Default false
        "link": true, //Button to insert a link. Default true
        "image": true, //Button to insert an image. Default true,
        "color": true //Button to change color of font
      });
    </script>
  </div>
  <div class="large-12 columns">
    <h3>About</h3>

    <p>
      This is a port of Bootstrap Wysihtml5 to Zurb Foundation.
      <br />
      <a href="https://github.com/jhollingworth/bootstrap-wysihtml5">Bootstrap Wysihtml5</a> is a plugin for Bootstrap designed by James Hollingworth. It provides a stylish wysiwyg editor for Bootstrap.
    </p>
    <p>This project is a fork from <a href="https://github.com/Nerian/bootstrap-wysihtml5-rails">Nerian's <code>bootstrap-wysihtml5-rails</code></a> and it was modified to work with Zurb Foundation.</p>
    <a href="https://github.com/josemarluedke/foundation-wysihtml5-rails" class="button">View Project on Github</a>
  </div>

</div>
